absl-py @ file:///croot/absl-py_1686852429912/work
addict==2.4.0
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
appdirs==1.4.4
aria2==0.0.1b0
asttokens==3.0.0
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs==25.3.0
backcall==0.2.0
blinker==1.8.2
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.8
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.1.1
cryptography @ file:///croot/cryptography_1686613057838/work
cycler==0.12.1
dash==3.0.4
datasets @ file:///croot/datasets_1684482929171/work
decorator==5.2.1
dill @ file:///croot/dill_1667919592856/work
docker-pycreds==0.4.0
einops==0.8.0
executing==2.2.0
fastjsonschema==2.21.1
filelock @ file:///croot/filelock_1672387128942/work
Flask==3.0.3
fonttools==4.53.1
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///croot/fsspec_1682525977151/work
gitdb==4.0.11
GitPython==3.1.43
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///opt/conda/conda-bld/google-auth-oauthlib_1660687784486/work
grpcio @ file:///croot/grpc-suite_1685746860162/work
huggingface-hub @ file:///croot/huggingface_hub_1686693679113/work
idna @ file:///croot/idna_1666125576474/work
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
importlib_resources==6.4.0
ipython==8.12.3
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib @ file:///croot/joblib_1685113087166/work
jsonlines @ file:///tmp/build/80754af9/jsonlines_1609785323125/work
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.5
Markdown @ file:///croot/markdown_1671541909495/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.7.5
matplotlib-inline==0.1.7
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
multidict @ file:///croot/multidict_1665674239670/work
multiprocess @ file:///croot/multiprocess_1668006441451/work
narwhals==1.38.2
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nvidia-ml-py==12.535.161
nvitop==1.3.2
oauthlib @ file:///croot/oauthlib_1679489621486/work
open3d==0.18.0
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==6.0.1
plyfile==1.0.3
pointnet2 @ file:///home/zhengf_lab/cse12210702/3DNMN/model/vision/pointnet2
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prompt_toolkit==3.0.51
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycocoevalcap==1.2
pycocotools==2.0.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.19.1
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.1.2
pyquaternion==0.9.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1671697431263/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
referencing==0.35.1
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
requests @ file:///croot/requests_1682607517574/work
requests-oauthlib==1.3.0
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
retrying==1.3.4
rouge-score==0.1.2
rpds-py==0.20.1
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.11.0
setproctitle==1.3.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
stack-data==0.6.3
tensorboard @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorboard_1682445826165/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
termcolor==2.4.0
threadpoolctl==3.5.0
timm==1.0.15
tokenizers @ file:///croot/tokenizers_1687191909486/work
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.14.3
transformers @ file:///croot/transformers_1684845848079/work
typing_extensions==4.13.2
urllib3 @ file:///croot/urllib3_1686163155763/work
wandb==0.17.5
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.14
xxhash @ file:///croot/python-xxhash_1667919521615/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp @ file:///croot/zipp_1704206909481/work
